*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
  background-color: white;
}

.container {
  background-color: ghostwhite;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 750px;
}
header {
  min-height: 120px;
}
.form-quizz,
.buttonValidation {
  background-color: rgb(207, 16, 16);
  font-weight: bold;
  border: 1px;
  border-radius: 10px;
  cursor: pointer;
  margin: 50px;
  padding: 10px;
  box-shadow: 6px 6px 18px 0px rgba(50, 50, 50, 0.55);
}
h1,
h2 {
  font-family: Russo One, ARIAL;
  text-align: center;
  margin-top: 10px;
}
.buttonValidation:hover {
  background-color: lightblue;
  color: white;
}

h4 {
  font-weight: bold;
  margin-bottom: 20px;
}
/* On vient créer une animation pour nos reponses fausses  */
.echec {
  animation: echec 0.3s ease-in-out;
}
/* On vient parametrer l'animation avec un keyframes */
@keyframes echec {
  0% {
    transform: translateX(0px);
  }
  33% {
    transform: translateX(5px);
  }
  66% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(0px);
  }
}
.center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-quizz {
  background-color: white;
  border: 1px;

  margin: 50px;
  padding: 10px;
  box-shadow: 6px 6px 18px 0px rgba(50, 50, 50, 0.55);
}
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.submit {
  display: flex;
  justify-content: center;
}
